* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  body {
    
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background: rgb(43, 31, 5);
    padding: 0.5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  #logo {
    width: 90px;
    height: 70px;
    padding: 0;
  }

  .hide {
    display: none;
  }
  
  main {
    margin-top: 64px;
    flex: 1 0 auto;
    min-height: 100vh;
    background: url(../images/background.jpg) no-repeat center center / cover;
    position: relative;
    width: 100%;
  }
  
  .quiz-container {
    display: block;
    border-radius: 5px;
    padding: 20px;
    padding-top: 30px;
  }
  
  #home-page {
    padding: 6px;
    text-align: center;
    margin-top: 25px;
    color: #334e57;
    width: 80%;
    margin-left: 10%;
  }
  
  p {
    background: rgba(200, 222, 247, 0.7);
    border: 1px solid #334e57;
    border-radius: 4px;
    justify-content: center;
    margin: 9px 0;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  
  #username {
    border: 1px solid #334e57;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

  .quiz-main {
    margin-top: 15px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    border: 1px, solid;
    border-color: #334e57;
    border-radius: 6px;
    font-weight: bold;
    padding: 15px;
  }
  
  .start-game-btn,
  .next-question-btn,
  .show-results-btn,
  .restart-game-btn {
    font-size: 1.1 rem;
    font-weight: bold;
  }
  
  #answer-buttons-container button {
    font-size: 1.1em;
    margin: 15 0;
    width: 85%;
    padding: 12px;
    border: 1px solid #334e57;
    margin-bottom: 20px;
  }
  
  #restart-game-btn {
    display: flex;
    margin: auto;
    align-items: center;
    padding: 15px;
    border: 1px solid #334e57;
    border-radius: 6px;
  }
  
  .button:hover {
    border-color: #334e57;
    background-color: #d8cfb5;
  }
  
  .btn:hover {
    border-color: #334e57;
    background-color: #d8cfb5;
  }
  
  .answer-buttons-container {
    width: 100%;
    margin: 25px;
    display: block;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  
  .btn.correct {
    background-color: green;
  }
  
  .btn.wrong {
    background-color: red;
  }